.settingpage-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

.settingpage-navbar-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.settingpage-navbar-items {
    padding: 20px;
    border: 1px solid black;
}

.settingpage-display-container {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}