.upload-session-container {
    display: flex;
    height: 100vh;
    background: grey;
    justify-content: center;
}

.upload-sessionCard-container {
    display: flex;
    width: 70%;
    background: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.upload-sessionContent-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.upload-sessionContent-topicAndSelectItems-container {
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: center;
}

.upload-sessionContent-items-topic {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

.upload-sessionContent-items-topicbar {
    padding: 10px;
}

.upload-sessionContent-items-select {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-sessionContent-items-content {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
}

.upload-sessionContent-items-contentarea {
    width: 100%;
    height: 20vh;
    text-align: center;
    font-size: 48px;
    box-sizing: border-box;
}

.upload-sessionContent-items-likebar {
    width: 20%;
    padding: 12px;
}

.upload-submit {
    display: flex;
    justify-content: center;
}

.upload-sessionContent-items-submitButton {
    width: 30%;
    padding: 12px;
}
